<!DOCTYPE html>
<html>
<head>
  <title>MessagingRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
Hello world!
Hello
<%= yield %>

Try again

Try try again

Try try try again

<ul class="nav">
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</body>
</html>
