<!DOCTYPE html>
<html>
<head>
  <title>MessagingRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
Hello world!

<%= yield %>

Try again

Try try again
</body>
</html>
